.main-container {
  background-color: gainsboro;
}
.todo-container {
  max-width: 700px;
  min-width: 500px;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}
.todo-container input {
  flex-grow: 2;
}
.todo-container button {
  flex-grow: 1;
  min-width: 100px;
}

.glass-effect {
  background-color: rgba(255, 255, 255, 0.5); /* Adjust opacity as needed */
  backdrop-filter: blur(10px); /* Adjust blur as needed */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Adjust shadow as needed */
}

.heading {
  margin-top: 10px;
  margin-bottom: 15px;
  font-size: 1.3rem;
  color: rgb(44, 43, 43);
}

.todo-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.todo-list li {
  list-style: none;
  display: flex;
  gap: 10px;
}
.todo-list input {
  width: 20px;
  height: 20px;
}
.todo {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.todo button {
  max-height: 40px;
}

.todo span {
  padding-right: 3px;
  max-width: 200px; /* Set max-width to 100 pixels */
  display: inline-block;
  word-wrap: break-word; /* Allow long words to break and wrap onto the next line */
}

@media (max-width: 612px) {
  .todo-container {
    flex-direction: column;
    min-width: auto;
  }

  .todo-container input {
    width: 100%;
  }

  .todo-container button {
    width: 100%;
    margin-bottom: 10px;
  }
  .heading {
    font-size: 1rem;
  }
  .todo span {
    max-width: 180px;
  }
}
